<% layout("./layouts/boilerplate") %>
    <div class="wrapper mb-3">
        <div class="container">
            <h2 class="title"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg> List of Employees</h2>
                <div class="row row-cols-4 row-cols-md-5 g-4">
                    <% employees.forEach (employee=> { %>
                    <div class="col">
                    <a id="employee" href="/employees/<%= employee._id %>"> <div class="card border-info" id="card">  
                        <img src=" <% if (employee.Gender === "Male") { %> 
                            https://www.commport.com/wp-content/uploads/2016/03/testimonialimage4.jpg
                            <% } else { %>
                                https://cdn-icons-png.flaticon.com/512/180/180679.png
                           <% } %> " class="card-img-top" alt="employee">
                        <div class="card-body">
                          <h5 class="card-title"> <%= employee.Name %> </h5>
                        </div>
                      </div>
                    </a>
                    </div>
                    <% }) %>
                </div>
        </div>
    </div>

