<% layout("./layouts/boilerplate") %>

        <div class="wrapper">
            <div class="container mb-2">
                <h3 class="title"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg> Add an Employee</h3>
                <form id="new-employee-form" action="/employees" method="POST" class="needs-validation" novalidate>
                    <div class="mt-2">
                        <label class="form-label" for="Name">Full Name</label>
                        <input type="text" class="form-control" name="employee[Name]" id="Name" required>
                        <div class="invalid-feedback">
                            Please enter employee name
                        </div>
                    </div>

                    <div class="mt-2">
                        <label class="form-label" for="Email">Email address</label>
                        <input type="email" class="form-control" name="employee[Email]" id="Email" required>
                        <div class="invalid-feedback">
                            Please provide a valid email
                        </div>
                    </div>

                    <div class="mt-2">
                        <label class="form-label" for="Profession">Profession</label>
                        <input type="text" class="form-control" name="employee[Profession]" id="Profession" required>
                        <div class="invalid-feedback">
                            Please enter profession
                        </div>
                    </div>

                    <div class="mt-2">
                        <label class="form-label" for="Address">Address</label>
                        <input type="text" class="form-control" name="employee[Address]" id="Address" required>
                        <div class="invalid-feedback">
                            Please provide a valid address
                        </div>
                    </div>

                    <div class="mt-2">
                        <label class="form-label" for="Education">Education</label>
                        <input type="text" class="form-control" name="employee[Education]" id="Education" required>
                        <div class="invalid-feedback">
                            Please enter university name
                        </div>
                    </div>

                    <div class="mt-2">
                        <label class="form-label" for="Gender">Gender</label>
                        <select class="form-select" aria-label="Default select example" id="Gender"
                            name="employee[Gender]" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="invalid-feedback">
                            Please choose a gender
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
