<% layout("./layouts/boilerplate") %>
<div class="wrapper">
        <div class="about container">
            <div>
                <h3 class="title"> About Lumon Industries </h3>
                <p>
                    Founded by Kier Eagan in 1865, Lumon Industries began as a maker of topical salves.
                </p>
            </div>
            <div>
                <h3 class="title">Leadership </h3>
                <p>Lumon’s current CEO is Jame Eagan, who assumed the office in 2008.</p>
            </div>
            <div>
                <h3 class="title">Past Leadership</h3>
                <ul>
                    <li>Leonora Eagan, CEO 1999-2008</li>
                    <li>Phillip “Pip” Eagan, CEO 1987-1999</li>
                    <li>Gerhardt Eagan, CEO 1976-1987</li>
                    <li>Baird Eagan, CEO 1959-1976</li>
                    <li>Myrtle Eagan, CEO 1941-1959</li>
                    <li>Ambrose Eagan, CEO 1939-1941</li>
                    <li>Kier Eagan, CEO 1865-1939</li>
                </ul>
            </div>
        </div>
    </div>
        
        